* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family-sans-serif;
  background-color: $background-color;
  color: $text-color;
}

@media (min-width: $small) {
  body {
    display: flex;
  }
}

a {
  color: $text-color;
  text-decoration-color: $secondary-color;

  &:hover {
    color: $secondary-color;
  }
}

.cryptedmail:after {
  content: attr(data-name) "@" attr(data-domain) "." attr(data-tld); 
}
