@use "sass:color";

$fa-font-path: "../fonts";

$extra-small: 576px;
$small: 768px;
$medium: 992px;
$large: 1200px;

$main-color: #007bff;
$secondary-color: #0056b3;
$text-color: #353535;
$text-color-light: color.scale($text-color, $lightness: 30%);
$background-color: #fff;
